# ====================
# PYTHON / DJANGO
# ====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
venv/
.venv/
env/
.env/
*.env
serviceAccountKey.json

# Django specific
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# VSCode / PyCharm
.vscode/
.idea/

# OS-generated
.DS_Store
Thumbs.db

# Jupyter (opsional)
.ipynb_checkpoints/

*__pycache__
./model/model_files/integrated_abusive_classifier_v2.pth
.\model\model_files\integrated_abusive_classifier_v2.pth
backend_django\model\model_files\integrated_abusive_classifier_v2.pth